
{% if user.is_authenticated %}
<div class="wrapper">
	<div class="navbar">
		<div class="logo">
			
            
            {% if user.is_teacher %}
                <a href="{% url 't_dash' %}">Edumee</a>
            {% else %}
                <a href="{% url 's_dash' %}">Edumee</a>
            {% endif %}
        
            
        
		</div>
		<div class="nav_right">
			<ul>
                <li class="nr_li dd_main1">
					<i class="fas fa-plus"></i>
                    <div class="dd_menu1">
                      <div class="dd_right">
                        <ul>
                            {% if user.is_teacher %}
                                <li><a class="dropdown-item" href="#">Create Class</a></li>
                                <li><a class="dropdown-item" href="#">Join Class</a></li>
                            {% else %}
                                <li><a class="dropdown-item" href="#"  data-toggle="modal" data-target="#joinClass">Join Class</a></li>
                            {% endif %}
                        </ul>
                      </div>
                    </div>
				</li>
				<li class="nr_li dd_main">
                    {% if user.is_teacher %}
                    <img src="{{ user.teachers.photo.url }}" alt="profile_img">
                    {% else %}
                    <img src="{{ user.students.photo.url }}" alt="profile_img">
                    {% endif %}
					
					<div class="dd_menu">
						<div class="dd_left">
							<ul>
								<li><i class="fas fa-cog"></i></li>
								<li><i class="fas fa-sign-out-alt"></i></li>
							</ul>
						</div>
						<div class="dd_right">
							<ul>
								<li><a href="#">Settings</a></li>
								<li><a href="{% url 'logout' %}">Logout</a></li>
							</ul>
						</div>
					</div>
				</li>
				
			</ul>
		</div>
	</div>
</div>	

<script>
	var dd_main = document.querySelector(".dd_main");
    var dd_main1 = document.querySelector(".dd_main1");

	dd_main.addEventListener("click", function(){
		this.classList.toggle("active");
	})
    dd_main1.addEventListener("click", function(){
		this.classList.toggle("active");
	})
</script>
{% endif %}