{% extends 'classroom/base/base.html' %}

{% block title %} {{room.name}} {% endblock %}

{% block css %}

{% endblock %}

{% block content %}

<script>
{% for message in messages %}
        
    swal("",'{{ message }}', "success");

{% endfor %}

</script>

<h4 align="center" style="margin-top:30px">Class Dashboard</h4>
    <div class="row  mt-2 ">
            <div class="col-10 main_box" style="margin:0 auto;" >
                    <h2 style="color:white;">{{ room.name }}</h2>
                    <h6>{{ room.details }}</h6>
                    <h6> Teacher: {{ room.teacher.name }}</h6>
                    <h5 >Code : {{ room.code }}</h5>
            </div>
    </div>

{% endblock %}